

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
@media (min-width: 768px) {
  .navbar-nav .caret {
    display: none;
  }*/

//added feb 19, 2014

#content
{
  width:100%;

  margin:auto;
}

#nav-bar
{
  width:100%;
}

#nav-in
{
  position:relative;
  top:15px;
  float:right;
}

#top-bar{
  height:5.8em;
  border-bottom:5px solid RGB(0,73,112);
  width:90%;
  margin:auto;
  /*border: 2px solid red;*/
}

#bottom-bar{
  height:4.8em;
  padding:15px;
  border-top:5px solid RGB(0,73,112);
  width:auto;
  margin:auto;
  background-color: #f5f5f5;

}

//endhere


/*Source: http://simonpadbury.com/bootstrap-3-navbar-dropdown-hover/*/

/*template - start*/

/*end - template*/

/*//219
#nav-bar
{
	width:100%;
}
*/
#nav-in
{
	position:relative;
	top:15px;
	float:right;
}

/* //edit 219
#content
{
	width:97.5em;
}*/
/*start of left*/

#left
{
	float:left;
	width:70em;
}
#carou
{
	width:85em;
  position:relative;
  top:40px;
  margin-left:3.5em;
  float:left;
}

#img-car
{
	height: 20em;
}


.link-pic:link,.link-pic:visited
{
display:block;
font-weight:bold;
color:#FFFFFF;
width:22.5em;
position:relative;
left: 1em;
height:200px;
float:left;
text-align:center;
margin-right:10px;
padding:4px;
text-decoration:none;
}
.link-pic:hover,.link-pic:active
{
opacity:0.8;
}

#ics
{
background-image:url('../img/ics.jpg');
background-repeat:no-repeat;
}

#uplb
{
background-image:url('../img/uplb.jpg');
background-repeat:no-repeat;
}

#add
{
background-image:url('../img/6.jpg');
}

.link-gr
{
position:relative;
margin-left:2.7em;
top:50px;
float:left;
width:70em;
}

/*end of left*/

/*start of right*/
#right
{
	width:250px;
	float:right;
}
#signin1
{
	width:250px;
	float:right;
	position:relative;
	top:50px;
	margin-right:30em;
}

#announ
{
	position:relative;
	margin-top:20em;
  margin-left: 22em;

}
#edit_account{
  margin-top: 1.5em;
  margin-left: 30em;

}
#submitref{
  margin-top: 1em;
  margin-left: 8em;

}
/*USER-DEFINED*/

.main{
  
  margin:auto;
  margin-top:2.9em;
  padding:10px;
  width:86.7em;
  height:35em;
  display:relative;
}



.navbar-layout{

  
  background-color: #446791;
}

#logo-pos{

  margin-left:-1.6em;

}
#librarian
{

  margin-top: 10em;
}

.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu
{
   top:100%;
   left:80%;
   margin-top:-6px;
   margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;
   -moz-border-radius:0 6px 6px 6px;
   border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
   display:block;
}

.dropdown-submenu > a:after{
   display:block;
   content:" ";
   float:right;
   width:0;
   height:0;
   border-color:transparent;
   border-style:solid;
   border-width:5px 5px 0;
   border-top-color:#cccccc;
   margin-top:5px;
   margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
border-top-color:#ffffff;
}
#view_report{
    margin-top: 10em;

}
/*end of right*/
#about_us{
  width: 30em;
  margin-left: 8em;
  margin-top: 3em;
  font-size: 2em;
  text-align: justify;

}
#table_search{
  margin-left: 5em;
  margin-right: 10%;
  margin-top: 5em;

}
#table_searchlib{
  margin-left: 10%;
  margin-right: 10%;

}
#search_top{
  margin-top:0.5em;
}
#buttons_search{
  margin-left: 10em;
}

#addReferenceForm{

  margin-left: 27em;
  width: 45em;
}
#buttonslib{

  margin-left: 36%;
}
.pagination_table{
  margin-left:30%;
}
.title-link{
	height:3em;
	width:22.5em;
	padding:10px;
	position:relative;
	top:-0.3em;
	left:-0.3em;
	background-color:RGB(0,73,112);
	color:white;
}
#booktable{
  margin-left: 12em;
}
#booktable1{
  margin-left: 16em;
  margin: auto;
}
#paginationStyle{
  margin-left: 20em;
}
#button_ref{
  margin-top: 0.5em;
  margin-left: 15em;

}
#back_button{
  margin-top: -4em;
  margin-left: 21em;
}
#back_button1{
  margin-top: -8em;
  margin-left: 43em;
}
h3{
  margin-left: 23.5em;
  margin-top: 1.5em;
}
#alertmessage:empty {
    display: none;
 
}
#fileUploadForm{
  margin-left: 34em;
  margin-top: 2em;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: black;
   background-color: #dff0d8;
   width:25em;
   padding: 2em;
}
#view_report{
  margin-left: 34em;
  margin-top: 2em;
  border: 1px solid transparent;
  border-radius: 4px;
 
   background-color: #dff0d8;
   width:25em;
   padding: 2em;
}

#buttonsReport{
  margin-left: 2em;
}
#search_container{
  margin-top: 3em;
}

#category_option_container{
  margin-top: 0.5em;
}
#buttonsAdmin{
  margin-top: -2.3em;
  margin-left: 16em;
}
#admin_results{
  margin-left: 0em;
}
#search_result_container{
  margin-left: 15em;
}
#viewResults{
  margin-top: 2em;
  margin-left: 30em;
}
#edit_profile_button{
  margin-left: 40em;
  margin-top: 5em;
}
#alertmessage1{
  text-align: center;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#cart_body{

  margin-top: 2em;
  margin-left: 10em;

}

#alertmessage2{
  width: 8em;
  font-size: 2em;
  margin-left: 8em;
  padding-left: 0.9em;
  margin-top: 3em;
}

#h2_id{
  margin-left: 15em;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container1 {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.prof_btn{
  margin-left: 3em;
}

#pagination_view{
  margin-left: 17em;

}

#erase_cart{
margin-left: 14em;
}

#cart_table{
  margin-left: 14em;
}

#warning_top{

  border: 1px solid transparent;
  border-radius: 4px;
  border-color: black;
   background-color: #dff0d8;
   width:25em;
   padding: 2em;
}

#add_acc{
  margin-top: 5em;
  margin-left: 30em;
}